html {
    background-color: lightgray;
}

#welcomeDiv {
    float: center;
    width: 100%;

    border-color: black;
    background-color: whitesmoke;
    

    border-style: solid;
    border-width: 2px;

    text-align: center;

    height: 60px;
    margin-bottom: 20px;
}
#welcomeTxt {
    color: rgb(1, 151, 38);
}

.addObjDiv {
    border-color: black;
    background-color: whitesmoke;

    border-style: solid;
    border-width: 2px;
    border-radius: 20px;

    width: 48%;
    height: 160px;

    float: left;
    margin-right: 1%;
}
.settingsTxt {
    padding: 0px 0px 0px 20px;
    color: rgb(1, 151, 38);
}
.addClassDiv {
    border-color: black;
    background-color: whitesmoke;

    border-style: solid;
    border-width: 2px;
    border-radius: 20px;

    width: 25%;
    height: 160px;

    float: left;
    margin-right: 1%;

    
}
#newClass {
    padding: 0px 0px 0px 20px;
    color: rgb(1, 151, 38);
}
#newClassTemp {
    border-style: solid;
    margin: 0% 20% 20% 20%;
    border-color: rgb(58, 241, 58);
}
.delClassDiv {
    border-color: black;
    background-color: whitesmoke;

    border-style: solid;
    border-width: 2px;
    border-radius: 20px;

    width: 24%;
    height: 160px;

    float: left;
}
#delClassHere {
    border-style: solid;
    margin: 0% 20% 20% 20%;
    border-color: rgb(233, 24, 24);
}
#newDelClass {
    padding: 0px 0px 0px 20px;
    color: rgb(1, 151, 38);
}
  
  
